body {
  margin: 0;
}

nav {
  height: 8rem;
  background: teal;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

nav button {
  color: white;
  font-size: 2rem;
  background: none;
  border: none;
}
