html, body, #root, .app-container {
  margin: 0;
  height: 100%;
  font-family: 'fatfrank', sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
}

/* --NAV STYLES */

.navigation {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeb53c
}

.nav-logo {
  font-size: 4rem;
  margin-left: 1rem;
  color: white;
  text-shadow: 3px 3px black;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px black;
}

.nav-buttons div {
  padding: 1rem;
}

.nav-buttons div:hover {
  background: #e7ae33;
  border-radius: 4px;
  cursor: pointer;
}


.nav-buttons-admin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px black;
}

.nav-buttons-admin div {
  padding: 1rem;
}

.nav-buttons-admin div:hover {
  background: #e7ae33;
  border-radius: 4px;
  cursor: pointer;
}

.nav-buttons form {
  font-size: 1rem;
  display: flex;
}

/*  --SIGNUP STYLES */

.signup-modal .modal-content {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 50px 0;
  border-top: 50px solid #eeb53c;
  border-left: 50px solid #eeb53c;
  padding: 0 4% 4%;
}

.signup-form {
  font-family: 'fatfrank', sans-serif;
}

.signup-form h1 {
  text-align: center;
  margin: .5rem;
}

.signup-form input {
  margin: .5rem 0;
  font-family: 'Raleway';
  border: none;
  border-bottom: 1px groove black;
  padding-left: .5rem;
}

.signup-form input:focus {
  outline: none;
}

.signup-advanced-button {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.signup-advanced-button:hover {
  opacity: 1;
}

.signup-distro-button {
  font-size: 1.4rem;
  border: none;
  margin-left: .5rem;
  background-color: #eeb53c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 50px 0;
}

.signup-distro-button:focus {
  outline: none;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
}

.signup-extra-input-container {
  display: flex;
  flex-direction: column;
}

.distro-container {
  display: flex;
}

.distro-container p {
  width: 60%;
  margin: 0 auto;
  padding-top: 1rem;
}

#signup-submit {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-left: 2rem;
}

#signup-submit:hover {
  opacity: 1;
}

/* --LOGIN STYLES */

.login-modal .modal-content {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 50px 0;
  border-top: 50px solid #eeb53c;
  border-left: 50px solid #eeb53c;
  padding: 0 4% 4%;
}

.login-form {
  font-family: 'fatfrank', sans-serif;
}

.login-form h1 {
  text-align: center;
  margin: .5rem;
}

.login-form input {
  margin: .5rem 0;
  font-family: 'Raleway';
  border: none;
  border-bottom: 1px groove black;
  padding-left: .5rem;
}

#login-submit {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
}

#login-submit:hover {
  opacity: 1;
}

/* --SPLASH STYLES */

.splash-page {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 5% 10%;
}

.splash-text {
  padding-top: 10%;
  font-family: 'fatfrank', sans-serif;
}

.splash-text h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.splash-text ul {
  margin: 0;
  padding-left: 0;
  line-height: 3.5rem;
  text-align: right;
}

.splash-text li {
  list-style: none;
  font-size: 2rem;
  margin: 0;

}

.splash-text button {
  margin-top: 1rem;
  font-size: 1.4rem;
  padding: .5rem 2rem;
  background-color: #eeb53c;
  opacity: .85;
  border: none;
  color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 50px 0;
}

.splash-text button:hover{
  opacity: 1;
}

.splash-text button:focus {
  outline: none;
}

.splash-image-container {
  padding-top: 10%;
  display: flex;
  justify-content: flex-end;
}

.splash-image-container > img {
  height: 500px;
}

/* --HOMEPAGE STYLES */

.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.homepage button {
  /* display: flex; */
  font-size: 1.5rem;
  /* background: transparent; */
  outline: none;
}

.homepage button:hover {
  /* background: rgba(255, 255, 255, 0.2); */
}

.homepage button:focus {
  outline: none;
}

.homepage h1 {
  margin: 2rem 0;
  text-align: center;
  color: white;
}

.homepage-section-container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5%;
}

.homepage-section-container section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  height: 100%;
}

.homepage-button {
  background-color: white;
  margin: 0 auto;
  width: 40%;
}

.user-section {
  grid-column: 1 / 2;
  background-image: url('../src/images/homepage/Homepage1.png');
}

.callsheet-section {
  grid-column: 2 / 3;
  background-image: url('../src/images/homepage/Homepage2.png');
}

.distro-section {
  grid-column: 3 / 4;
  background-image: url('../src/images/homepage/Homepage1.png');
}

/* --USER STYLES */

.user-role-view {
  padding: 5%;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
}

.user-left {
  background-image: url('../src/images/callsheet/OfficePerson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.user-information {
  margin: 0 auto;
  border: 3px solid #eeb53c;
  border-top: 30px solid #eeb53c;
  border-left: 30px solid #eeb53c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
  padding: 5%;
  width: 80%;
}

.user-right {
  background-image: url('../src/images/callsheet/CameraPerson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* --USER-ADMIN STYLES */

.admin-user-display {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
}

.admin-user-display > h1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
  font-size: 2rem;
}

.admin-user-display button {
  background-color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 50px 0;
}

#admin-user-button {
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 2rem;
  background-color: #eeb53c;
  opacity: .85;
  outline: none;
  border: none;
  border-radius: 10px;
}

#admin-user-button:hover {
  opacity: 1;
}

#admin-user-button:focus {
  outline: none;
}

.admin-allusers {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 auto;
  height: 100%;
  width: 50%;
}

.admin-allusers h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.admin-user-illustration {
  background-image: url('./images/user/UserIllustration.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.admin-allusers-container {
  overflow: scroll;
  height: 100%;
  width: 100%;
}


/* --SINGLE USER DISPLAY STYLES */

.single-user-display-admin h2 {
  font-family: 'fatfrank';
  letter-spacing: .05rem;
}

.single-user-display-admin h4 {
  font-family: 'Raleway';
}

.single-user-display-admin ul {
  padding: 0;
  margin: 2rem;
  font-family: 'fatfrank';
}

.single-user-display-admin li {
  padding: 0;
  margin: 0 .5rem;
  list-style: none;
  font-family: 'Raleway';
}

.single-user-display-admin-extra-info {
  display: flex;
}

.single-user-display-admin button {
  margin-right: 1rem;
  font-size: 1.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
}

.single-user-display-admin button:hover {
  opacity: 1;
}

.single-user-display-admin button:focus {
  outline: none;
}

/* --EDIT USER STYLES */

.single-user-update {

}

.single-user-update label {
  font-family: 'fatfrank';
}

.single-user-update input {
  margin: .5rem;
  width: 70%;
  font-family: 'Raleway';
  border: none;
  border-bottom: 1px groove black;
  padding-left: .5rem;
}

#update-submit {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-left: 2rem;
}

#update-submit:hover {
  opacity: 1
}

/* --CALLSHEET STYLES */

.callsheet {
  display: grid;
  grid-template-columns: 1fr 55% 1fr;
  padding: 2% 5% 2% 5%;
}

.callsheet-left {
  background-image: url('../src/images/callsheet/OfficePerson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.callsheet-container {
  /* background-image: url('../src/images/callsheet/CallSheetBlob.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 75% 1fr;
  grid-template-columns: 1fr 60% 1fr;
}

.callsheet-container h1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: center;
  padding-top: 1rem;
}

.callsheet-container h2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  text-align: center;
  padding-top: 1rem;
}

.callsheet-submitted-alert-enter {
  opacity: 0;
}
.callsheet-submitted-alert-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.callsheet-submitted-alert-exit {
  opacity: 1;
}
.callsheet-submitted-alert-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.callsheet-form {
  border: 3px solid #eeb53c;
  border-top: 30px solid #eeb53c;
  border-left: 30px solid #eeb53c;
  background: white;
  padding: 5%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
}

.callsheet-form label {
  font-family: "fatfrank";
}

.callsheet-form input {
  margin: .5rem;
  font-family: 'Raleway';
  border: none;
  border-bottom: 1px groove black;
  padding-left: .5rem;
  width: 70%;
}

.callsheet-form input:focus {
  outline: none;
}

#add-recipients-button {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-left: 2rem;
}

#add-recipients-button:hover {
  opacity: 1;
}

#callsheet-submit {
  width: 40%;
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-left: 2rem;
}

#callsheet-submit:hover {
  opacity: 1;
}

.callsheet-right {
  background-image: url('../src/images/callsheet/CameraPerson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.add-recipients-title {
  font-family: "fatfrank";
  font-size: 2rem;
}

.add-recipients-text {
  font-family: "Raleway";
  font-size: 1.5rem;
}

#confirm-recipients-button {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-top: 1rem;
}

#confirm-recipients-button:hover {
  opacity: 1;
}

/* --RECIPIENT STYLES */

#recipient-info {
  display: flex;
  align-items: center;
  padding: none;
  margin: none;
  align-items: center;
  font-family: 'Raleway'
}

.recipient-specs input {
  margin: .5rem;
  font-family: 'Raleway';
  border: none;
  border-bottom: 1px groove black;
  padding-left: .5rem;
}

#recipient-add-button {
  font-size: 1rem;
  background-color: #eeb53c;
  opacity: .85;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-left: .5rem;
}

#recipient-specs-button {
  margin-left: 1rem;
  font-size: 1.4rem;
  background-color: #eeb53c;
  opacity: .85;
  border: none;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 50px 0;
}


/* --DISTRO STYLES */

.distro-display {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 30% 70%;
}

.distro-search-form {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: auto;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.distro-search-form > div {
  display: flex;
}

.distro-search-form input {
  margin: .5rem 0;
  font-family: 'Raleway';
  border: none;
  border-bottom: 1px groove black;
  padding-left: .5rem;
  width: 80%;
}

.distro-search-form select {
  margin: .5rem;
  font-size: 1rem;
  font-family: 'Raleway';
}

.distro-search-form input:focus {
  outline: none;
}

#search-submit {
  font-size: 2rem;
  background-color: #eeb53c;
  opacity: .85;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin-left: .5rem;
  margin-bottom: 2rem;
  padding: .5rem;
}

#search-submit:hover {
  opacity: 1
}

.distro-search-results {
  margin: auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.distro-search-results > h3 {
  font-family: 'Raleway';
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#collect-emails-button {
  font-size: 1.5rem;
  background-color: #eeb53c;
  opacity: .85;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'fatfrank';
  margin: .5rem;
  padding: .5rem;
}

#collect-emails-button:hover {
  opacity: 1;
}


/* --FOOTER STYLES */

footer {
  background: #eeb53c;
  color: white;
  text-shadow: 1px 1px black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
              0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px 0px 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: .5rem 2rem;
}

.footer-container > h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials a {
  color: white;
}

.socials a:hover {
  color: white;
}

.socials i {
  padding: .3rem 1rem;
}

.socials i:hover {
  background: #e7ae33
}
