html, body, #root, .app-container {
  margin: 0;
  height: 100%;
  font-family: 'fatfrank', sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
}

/* NAV STYLES */

.navigation {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 3rem;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  font-size: 2rem;
}

.nav-buttons-admin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-size: 2rem;
}

.nav-buttons form {
  font-size: 1rem;
  display: flex;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
}

.nav-buttons-admin {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}


/* SPLASH STYLES */

.splash-page {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  padding: 5% 8% 5% 12%;
}

.splash-text {
  font-family: 'fatfrank', sans-serif;
}

.splash-text h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.splash-text ul {
  margin: 0;
  padding-left: 0;
  line-height: 3rem;
}

.splash-text li {
  list-style: none;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.splash-text button {
  font-size: 1.4rem;
  margin: 3rem 0;
  padding: .5rem 2rem;
  background-color: #E0D001;
  border: none;
  border-radius: 10%;
}

.splash-image-container > img {
  margin-left: 22%;
  width: 78%;
}

/* HOMEPAGE STYLES */

.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.homepage h1 {
  margin: 2rem 0;
  text-align: center;
  color: white;
}

.homepage-section-container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5%;
}

.homepage-section-container section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  height: 100%;
}

.homepage-button {
  background-color: white;
  margin: 0 auto;
  width: 40%;
}

.user-section {
  grid-column: 1 / 2;
  background-image: url('../src/images/homepage/Homepage1.png');
}

.callsheet-section {
  grid-column: 2 / 3;
  background-image: url('../src/images/homepage/Homepage2.png');
}

.distro-section {
  grid-column: 3 / 4;
  background-image: url('../src/images/homepage/Homepage3.png');
}

/* CALLSHEET STYLES */

.callsheet {
  display: grid;
  grid-template-columns: 1fr 55% 1fr;
  padding: 5% 5% 2% 5%;
}

.callsheet-left {
  background-image: url('../src/images/callsheet/OfficePerson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.callsheet-container {
  /* background-image: url('../src/images/callsheet/CallSheetBlob.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 75% 1fr;
  grid-template-columns: 1fr 60% 1fr;
}

.callsheet-form {
  border: 3px solid #eeb53c;
  background: white;
  padding: 5%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 50px 0px;
}

.callsheet-right {
  background-image: url('../src/images/callsheet/CameraPerson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* FOOTER STYLES */

footer {
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
              0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px 0px 0px;
}

footer > h1 {
  text-align: right;
  margin-right: 3rem;
}
